# Generated figures/reports
*.png
*.pdf
*.svg
*.pptx

# R intermediate files
*.RDS
*.rds
*.RData
*.rda

# Large sequencing/genomic files
*.vcf.gz
*.vcf
*.bam
*.bai
*.bcf
*.sam
*.fastq
*.fq
*.fastq.gz
*.fq.gz

# R/RStudio
.Rhistory
.Rproj.user/

# OS files
.DS_Store
Thumbs.db
